/* SET UP */
@import url(./setup/vars.css);
@import url(./setup/typography.css);

/* BASE */
@import url(./basic/helpers.css);

/* COMPONENTS */


/* -------------------base------------------- */

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat-Regular, sans-serif;
    color: var(--clr1);
    line-height: 1.25rem;
}

body {
    margin: 0;
}

/* -------------------layout------------------- */

.main-layout>*:not(.full) {
    max-width: 1060px;
    margin: 0 auto;
}

/* -------------------header------------------- */

.main-header {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--clr2);
}

.main-header .logo {
    width: 150px;
}

.main-header .header-grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo nav"
}

.item1 {
    grid-area: logo;
    align-self: center;
    justify-self: start;
}

.item2 {
    grid-area: nav;
    align-self: center;
    justify-self: end;
}

.main-header .main-nav ul li {
    display: inline-block;
}

.main-header .main-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 27px 30px;
    cursor: pointer;
    transition: font-size .5s;
}

.main-header .main-nav ul li a:hover {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 1.1rem;
    padding: 0 30px;
}

/* -------------------filter------------------- */

.filter-grid-container {
    padding: 20px 0;
}

/* -------------------gallery------------------- */
.gallery {
    background-color: var(--clr3);
}

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 50px 0;
    width: var(--l);
    margin: 0 auto;
}

.gallery-grid-container img {
    width: 220px;
}

/* -------------------editor------------------- */

.editor {
    padding: 50px 0;
    background-color: var(--clr3);

}

.editor-grid-container {
    width: var(--l);
}

.editor-grid-container canvas {
    border: 1px solid black;
}



.style-btns {
    display: grid;
    width: 30%;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "increase   decrease    left-align    center-align    right-align"
    "select     select      select        font            color-palette"
}

.style-btns img,.crud-btns img {
width: 25px;
}

.edit-options button{
    background-color: var(--clr0);
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 65px;
    width: 65px;
}

.edit-options select{
    background-color: var(--clr0);
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 65px;
}

.edit-options button:hover,.edit-options select:hover{
/* border: 1px solid black; */
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.405);
}

/* .up-down {
    grid-area: up-down;

}

.create {
    grid-area: create;

}

.delete {
    grid-area: delete;

} */

.increase {
    grid-area: increase;

}

.decrease {
    grid-area: decrease;

}

.left-align {
    grid-area: left-align;

}

.center-align {
    grid-area: center-align;

}

.right-align {
    grid-area: right-align;

}

.select {
    grid-area: select;

}

.font {
    grid-area: font;

}

.color-palette {
    grid-area: color-palette;

}

/* -------------------about me------------------- */

.about-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px 100px;
    margin: 0 auto;
    grid-template-areas:
        "me about"
}

.about-me img {
    width: 200px;
    grid-area: me;
    align-self: center;
    justify-self: center;
}

.about-me .about {
    grid-area: about;
    padding-left: 30px;
    align-self: center;
    justify-self: start;
}

.about-me .about a img {
    width: 30px;
    padding: 3px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: var(--clr2);
}

.about-me .about a img:hover {
    background-color: var(--clr1);
}

/* -------------------footer------------------- */

.main-footer {
    padding: 30px;
    background-color: var(--clr2);
    text-align: center;
}

.main-footer .logo {
    width: 150px;
}

.main-footer p {
    margin: 20px 0 0 0;
}

/* -------------------Media query------------------- */

/* mobile only */
@media (max-width: 700px) {
    .main-layout>*:not(.full) {
        margin: 0 1.5rem;
    }
}

/* small */
@media (min-width: 700px) {
    .main-layout>*:not(.full) {
        max-width: var(--s);
    }
}

/* medium */
@media (min-width: 900px) {
    .main-layout>*:not(.full) {
        max-width: var(--m);
    }
}

@media (min-width: 1200px) {
    .main-layout>*:not(.full) {
        max-width: var(--l);
    }
}