/* flex helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-content {
    justify-content: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* hide - show helpers */

.show{
    display: block ;
}

.hide{
    display: none ;
}

/* grid */
.grid{
    display: grid;
}