/* -------------------editor------------------- */

.editor {
    padding: 50px 0;
    background-color: var(--clr3);
}

.editor-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

canvas {
    height: 300px;
    width: 300px;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
    background-color: var(--clr0);
    border-radius: 5px;
}

textarea {
    resize: none;
}

.edit-options {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.style-btns {
    grid-template-areas:
        "line-up    line-down   switch        create          delete"
        "increase   decrease    left-align    center-align    right-align"
        "select     select      select        fill-color      stroke-color";
}

.switch {
    grid-area: switch;
}

.create {
    grid-area: create;
}

.delete {
    grid-area: delete;
}

.line-up {
    grid-area: line-up;
}

.line-down {
    grid-area: line-down;
}

.increase {
    grid-area: increase;
}

.decrease {
    grid-area: decrease;
}

.left-align {
    grid-area: left-align;
}

.center-align {
    grid-area: center-align;
}

.right-align {
    grid-area: right-align;
}

.select-font-family {
    grid-area: select;
}

.fill-color {
    grid-area: fill-color;
}

.stroke-color {
    grid-area: stroke-color;
}

.fill-color input,
.stroke-color input {
    cursor: pointer;
    opacity: 0;
    width: 45px;
    height: 45px;
    position: absolute;
}

.edit-options img {
    width: 25px;
}

.text-editor {
    font-family: Montserrat-Regular, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

button,
select {
    background-color: var(--clr0);
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    font-family: Montserrat-Regular, Verdana, Geneva, Tahoma, sans-serif;
}

.share-download button {
    background-color: var(--clr2);
    width: 100px;
    font-weight: 600;
}

.download a {
    text-decoration: none;
    color: inherit;
}

select {
    width: 155px;
}

.gallery button:hover,
select:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.405);
}

/* -------------------Media query------------------- */

/* small */
@media (min-width: 680px) {

    .editor {
        padding: 176px 0;
    }

    .editor-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    canvas {
        height: 300px;
        width: 300px;
    }
}

/* medium */
@media (min-width: 900px) {

    canvas {
        height: 450px;
        width: 450px;
    }

    .editor {
        padding: 138px 0;
    }
}

/* large */
@media (min-width: 1240px) {


    canvas {
        height: 500px;
        width: 500px;
    }

    .editor {
        padding: 113px 0;
    }
}